#attendee-card .card-body {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  margin: 0;
  left: 0;
  bottom: 0;
  padding: 5px 30px;
}
.row .col #edit-user {
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 10;
}

#organisation-logo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-size: cover;
}
